Repository VorTECHsa/dynamicio: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

formatting:
  name: isort and black
  entry: bash -c '(isort "$@" && black "$@") || true; git add -u' --
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

pydocstyle:
  name: pydocstyle
  language: system
  entry: pydocstyle
  stages:
  - commit

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - commit

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python
  stages:
  - commit

mypy:
  name: mypy
  description: Static type checking
  entry: mypy dynamicio/
  language: system
  stages:
  - commit
  pass_filenames: false

pytest-check:
  name: pytest-check
  entry: python -m pytest tests --cov=dynamicio --cov-report=html --cov-report=xml -v
  language: system
  pass_filenames: false
  stages:
  - commit

build: Support python versions 11 and 12
  .circleci/config.yml
Due: pydocstyle, yamllint

build: Support python versions 11 and 12
  .python-version
  dynamicio/core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

build: Support python versions 11 and 12
  requirements.txt
Due: pydocstyle, pytest-check

build: Support python versions 11 and 12
  dynamicio/core.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_s3.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

build: Support python versions 11 and 12
  tests/test_cli.py
Due: formatting, pylint, flake8, mypy, pytest-check

build: Support python versions 11 and 12
  .circleci/config.yml
  .python-version
  dynamicio/core.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_s3.py
  requirements.txt
  setup.py
  tests/test_cli.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

refactor: Keep code DRY
  dynamicio/mixins/utils.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_s3.py
  tests/test_mixins/test_mixin_utils.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

build: Enable support for python 3.11 and python 3.12 (#80)
  .circleci/config.yml
  .python-version
  dynamicio/core.py
  dynamicio/mixins/utils.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_s3.py
  requirements.txt
  setup.py
  tests/test_cli.py
  tests/test_mixins/test_mixin_utils.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

build: Enable support for python 3.11 and 3.12
  Makefile
Due: pydocstyle

ci: MOre actions
  .github/workflows/build_and_publish.yml
Due: pydocstyle, yamllint

refactor: Impose deterministic loading of bacth files locally
  dynamicio/mixins/with_local.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

ci: MIgrate to github actions
  .circleci/config.yml
  .github/workflows/config.yml
Due: pydocstyle, yamllint

ci: MOre actions
  .github/workflows/build_and_publish.yml
  .yamllint
Due: pydocstyle, yamllint, pytest-check

ci: MOre actions
  .github/workflows/build_and_publish.yml
  .github/workflows/pr_title_checker.yml
Due: pydocstyle, yamllint

ci(RND-13567): MIgrate to Github-Actions (#81)
  .circleci/config.yml
  .github/workflows/build_and_publish.yml
  .github/workflows/pr_title_checker.yml
  .yamllint
  dynamicio/mixins/with_local.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

build: Adopt poetry
  .github/workflows/build_and_publish.yml
  .python-virtualenv
  Makefile
  docs/cli.html
  docs/core.html
  docs/dynamicio/config/index.html
  docs/dynamicio/config/io_config.html
  docs/dynamicio/config/pydantic/config.html
  docs/dynamicio/config/pydantic/index.html
  docs/dynamicio/config/pydantic/io_resources.html
  docs/dynamicio/config/pydantic/table_schema.html
  docs/dynamicio/mixins/index.html
  docs/dynamicio/mixins/utils.html
  docs/dynamicio/mixins/with_kafka.html
  docs/dynamicio/mixins/with_local.html
  docs/dynamicio/mixins/with_postgres.html
  docs/dynamicio/mixins/with_s3.html
  docs/errors.html
  docs/index.html
  docs/metrics.html
  poetry.lock
  poetry.toml
  pyproject.toml
  requirements-build.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  setup.py
  tox.ini
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix: remove deprecated pkgutil.ImpImporter by upgrading setuptools
  pyproject.toml
Due: pydocstyle, pytest-check

fix: replace pkg_resources with importlib.metadata for version resolution in __init__.py
  dynamicio/__init__.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

build: fix escape sequences in rc tag pattern
  pyproject.toml
Due: pydocstyle, pytest-check

build: fix versioning pattern for poetry-dynamic-versioning
  pyproject.toml
Due: pydocstyle, pytest-check

fix: Add poetry build
  .github/workflows/build_and_publish.yml
Due: pydocstyle, yamllint

fix: Configure auto-tagging with git tags
  Makefile
  dynamicio/__init__.py
  poetry.lock
  pyproject.toml
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

wip
  .github/workflows/build_and_publish.yml
Due: pydocstyle, yamllint

fix: Provide full Dunamai history
  .github/workflows/build_and_publish.yml
  pyproject.toml
Due: pydocstyle, yamllint, pytest-check

fix: Provide full Dunamai history
  pyproject.toml
Due: pydocstyle, pytest-check

fix: Provide full Dunamai history
  .github/workflows/build_and_publish.yml
Due: pydocstyle, yamllint

fix: Provide full Dunamai history
  .github/workflows/build_and_publish.yml
  Makefile
  pyproject.toml
Due: pydocstyle, yamllint, pytest-check

done
  .github/workflows/build_and_publish.yml
Due: pydocstyle, yamllint

done
  Makefile
Due: pydocstyle

build(RND-13568): Adopt poetry (#82)
  .github/workflows/build_and_publish.yml
  .python-virtualenv
  Makefile
  docs/cli.html
  docs/core.html
  docs/dynamicio/config/index.html
  docs/dynamicio/config/io_config.html
  docs/dynamicio/config/pydantic/config.html
  docs/dynamicio/config/pydantic/index.html
  docs/dynamicio/config/pydantic/io_resources.html
  docs/dynamicio/config/pydantic/table_schema.html
  docs/dynamicio/mixins/index.html
  docs/dynamicio/mixins/utils.html
  docs/dynamicio/mixins/with_kafka.html
  docs/dynamicio/mixins/with_local.html
  docs/dynamicio/mixins/with_postgres.html
  docs/dynamicio/mixins/with_s3.html
  docs/errors.html
  docs/index.html
  docs/metrics.html
  dynamicio/__init__.py
  poetry.lock
  poetry.toml
  pyproject.toml
  requirements-build.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  setup.py
  tox.ini
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

Path conditions:
  formatting: any of: \.py$, but not: ^(tests/conftest.py)
  pylint: any of: \.py$
  pydocstyle: any file but: ^(tests/.*|demo/*)
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  mypy: any of: \.py$
  pytest-check: any file but: ^(.github|.circleci|docs|.flake8|.gitlint|.pylintrc|.docs.Dockerfile|README.md|Makefile|setup.py)
