Repository VorTECHsa/dynamicio: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
repos:
  - repo: local
    hooks:
      - id: gitlint
        name: gitlint
        language: python
        entry: gitlint
        args: [--staged, --msg-filename]
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: formatting
        name: "isort and black"
        exclude: ^(tests/conftest.py)
        entry: bash -c '(isort "$@" && black "$@") || true; git add -u' --
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: pydocstyle
        name: pydocstyle
        exclude: ^(tests/.*|demo/*)
        language: system
        entry: pydocstyle
        stages: [commit]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        description: This hook runs yamllint.
        entry: yamllint
        language: python
        types: [file, yaml]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: Static type checking
        entry: mypy dynamicio/
        language: system
        types: [python]
        stages: [commit]
        pass_filenames: false

  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: python -m pytest tests --cov=dynamicio --cov-report=html --cov-report=xml -v
        exclude: ^(.github|.circleci|docs|.flake8|.gitlint|.pylintrc|.docs.Dockerfile|README.md|Makefile|setup.py)
        language: system
        pass_filenames: false
        stages: [commit]

refactor: Migrate to confluent_kafka [wip-4-test]
  tests/test_mixins/test_kafka_mixins.py
Due: formatting, pylint, flake8, mypy, pytest-check

refactor: Migrate to confluent_kafka [wip-6-test]
  dynamicio/mixins/with_kafka.py
  tests/resources/definitions/processed.yaml
  tests/test_mixins/test_kafka_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

refactor: Migrate to confluent_kafka [wip-7-test]
  tests/test_mixins/test_kafka_mixins.py
Due: formatting, pylint, flake8, mypy, pytest-check

refactor: Migrate to confluent_kafka [wip-8-test]
  tests/test_mixins/test_kafka_mixins.py
Due: formatting, pylint, flake8, mypy, pytest-check

refactor: Migrate to confluent_kafka [wip-9-test]
  tests/test_mixins/test_kafka_mixins.py
Due: formatting, pylint, flake8, mypy, pytest-check

refactor: Migrate to confluent_kafka [wip-10-test]
  tests/test_mixins/test_kafka_mixins.py
Due: formatting, pylint, flake8, mypy, pytest-check

refactor: Finalise refactoring [prepare release candidate]
  dynamicio/mixins/with_kafka.py
  tests/test_mixins/__init__.py
  tests/test_mixins/test_kafka_mixins.py
  tests/test_regressions/__init__.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: Fix
  tests/mocking/io.py
Due: formatting, pylint, flake8, mypy, pytest-check

style: Fix
  tests/resources/definitions/input.yaml
  tests/test_regressions/__init__.py
  tests/test_regressions/conftest.py
  tests/test_regressions/resources/missing_v430_validations.yaml
  tests/test_regressions/test_v430.py
  tests/test_validations.py
Due: formatting, pylint, flake8, yamllint, mypy, pytest-check

fix: Use correct kafka flags
  .pre-commit-config.yaml
  dynamicio/mixins/with_kafka.py
  requirements-dev.txt
  tests/test_mixins/test_kafka_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix: Use correct kafka flags
  dynamicio/mixins/with_kafka.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

build: Try new dynamicio version
  dynamicio/mixins/with_kafka.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

build: Try new dynamicio version
  tests/test_mixins/test_kafka_mixins.py
Due: formatting, pylint, flake8, mypy, pytest-check

fix: Raise exception on single message failiure
  dynamicio/mixins/with_kafka.py
  tests/test_mixins/test_kafka_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

build(RND-7271): MIgrate to confluent-kafka lib (#71)
  .pre-commit-config.yaml
  dynamicio/mixins/with_kafka.py
  requirements-dev.txt
  requirements.txt
  tests/mocking/io.py
  tests/resources/definitions/input.yaml
  tests/resources/definitions/processed.yaml
  tests/test_mixins/__init__.py
  tests/test_mixins/test_kafka_mixins.py
  tests/test_regressions/conftest.py
  tests/test_regressions/resources/missing_v430_validations.yaml
  tests/test_regressions/test_v430.py
  tests/test_validations.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix: Remove outdated wanrings
  dynamicio/config/pydantic/io_resources.py
  dynamicio/errors.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

logs: Improve messages
  dynamicio/mixins/utils.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Add more pyallow args
  dynamicio/mixins/with_local.py
  tests/test_mixins/test_local_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Add more pyallow args
  requirements.txt
Due: pydocstyle, pytest-check

docs: Update
  README.md
  dynamicio/mixins/with_local.py
  tests/test_mixins/test_local_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

dev: upgrade to pandas 2
  requirements.txt
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

dev: pin numpy version
  requirements.txt
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Allow option to append to SQL tables
  dynamicio/mixins/with_postgres.py
  tests/test_mixins/test_postgres_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: add append option to PG writing
  dynamicio/mixins/with_postgres.py
  tests/resources/definitions/processed.yaml
  tests/test_mixins/test_postgres_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix: replace np.NAN
  tests/test_core.py
Due: formatting, pylint, flake8, mypy, pytest-check

fix: require numpy <2.0
  requirements.txt
Due: pydocstyle, pytest-check

fix: git fetch origin before tagging release candidates
  Makefile
Due: pydocstyle

logs: Remove redundant loging
  dynamicio/mixins/with_kafka.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

logs: Remove redundant loging
  requirements.txt
Due: pydocstyle, pytest-check

logs: Remove redundant loging
  tests/test_core.py
Due: formatting, pylint, flake8, mypy, pytest-check

logs: Remove redundant loging
  .circleci/config.yml
  .python-version
  requirements.txt
Due: pydocstyle, yamllint, pytest-check

logs: Remove redundant loging (upgrade dynamicio)
  Makefile
  requirements.txt
  setup.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

logs: Remove redundant loging (upgrade dynamicio)
  requirements.txt
Due: pydocstyle, pytest-check

logs: Remove redundant logging in the kafka Mixin (#78)
  .circleci/config.yml
  .python-version
  Makefile
  dynamicio/mixins/with_kafka.py
  requirements.txt
  setup.py
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

build: Downgrade libs
  Makefile
  requirements.txt
Due: pydocstyle, pytest-check

build: Support python versions 11 and 12
  .circleci/config.yml
Due: pydocstyle, yamllint

build: Support python versions 11 and 12
  setup.py
Due: formatting, pylint, pydocstyle, flake8, mypy
