Repository VorTECHsa/dynamicio: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

formatting:
  name: isort and black
  entry: bash -c '(isort "$@" && black "$@") || true; git add -u' --
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

pydocstyle:
  name: pydocstyle
  language: system
  entry: pydocstyle
  stages:
  - commit

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - commit

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python
  stages:
  - commit

mypy:
  name: mypy
  description: Static type checking
  entry: mypy dynamicio/
  language: system
  stages:
  - commit
  pass_filenames: false

pytest-check:
  name: pytest-check
  entry: python -m pytest tests --cov=dynamicio --cov-report=html --cov-report=xml -v
  language: system
  pass_filenames: false
  stages:
  - commit

docs: Update readme with absolute paths
  Makefile
  README.md
  docs/images/sample-pipeline.png
  pyproject.toml
Due: pydocstyle, pytest-check

fix(WithKafka): Conditionally raise no unique-keys warning
  docs/core.html
  docs/mixins.html
  dynamicio/core.py
  dynamicio/mixins.py
  tests/test_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

ci: introduce circleci config.yml
  .circleci/config.yml
Due: pydocstyle, yamllint

fix(WithKafka): Conditionally raise no unique-keys warning (#1)
  docs/core.html
  docs/mixins.html
  dynamicio/core.py
  dynamicio/mixins.py
  tests/test_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

ci: Remove python-version file
  .circleci/config.yml
  .github/pull_request_template.md
Due: pydocstyle, yamllint

ci: Remove python-version file
  .circleci/config.yml
Due: pydocstyle, yamllint

ci: Remove support for 3.10
  .circleci/config.yml
Due: pydocstyle, yamllint

ci: Split ci jobs
  .circleci/config.yml
  .python-version
Due: pydocstyle, yamllint, pytest-check

ci: Split ci jobs
  .circleci/config.yml
Due: pydocstyle, yamllint

ci: introduce circleci config.yml (#3)
  .circleci/config.yml
  .github/pull_request_template.md
  .python-version
Due: pydocstyle, yamllint, pytest-check

build: Add support for py 3.10
  .circleci/config.yml
  .pylintrc
  docs/mixins.html
  requirements-build.txt
  requirements-dev.txt
  requirements.txt
Due: pydocstyle, yamllint, pytest-check

ci: Add build step
  .circleci/config.yml
Due: pydocstyle, yamllint

testing_settings
  README.md
Due: pydocstyle

Update README.md
  README.md
Due: pydocstyle

build: bump python to 3.10 (#2)
  .circleci/config.yml
  .pylintrc
  docs/mixins.html
  requirements-build.txt
  requirements-dev.txt
  requirements.txt
Due: pydocstyle, yamllint, pytest-check

fix(WithPostgres): remove the need to pass a data model when reading
  README.md
  demo/src/io.py
  demo/src/runners/staging.py
  docs/config.html
  docs/mixins.html
  dynamicio/config.py
  dynamicio/mixins.py
  tests/conftest.py
  tests/mocking/models.py
  tests/resources/definitions/input.yaml
  tests/resources/schemas/pg.yaml
  tests/test_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix(WithPostgres): remove the need to pass a data model when reading
  docs/mixins.html
  tests/test_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

chore: Newline in readme
  README.md
Due: pydocstyle

feat(WithPostgres): remove the need to pass a data model when reading
  README.md
  docs/mixins.html
  dynamicio/mixins.py
  tests/conftest.py
  tests/test_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat(WithPostgres): remove the need to pass a data model when reading
  docs/core.html
  docs/mixins.html
  dynamicio/core.py
  dynamicio/mixins.py
  tests/mocking/io.py
  tests/test_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Remove the need of explicitly passing a DataModel to read from Postgres (#12)
  README.md
  demo/src/io.py
  demo/src/runners/staging.py
  docs/config.html
  docs/core.html
  docs/mixins.html
  dynamicio/config.py
  dynamicio/core.py
  dynamicio/mixins.py
  tests/conftest.py
  tests/mocking/io.py
  tests/mocking/models.py
  tests/resources/definitions/input.yaml
  tests/resources/schemas/pg.yaml
  tests/test_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix: Remove residual print statements
  dynamicio/core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Bring in async-read/write
  .circleci/config.yml
  Makefile
  demo/src/runners/transform.py
  demo/tests/data/input/bar.parquet
  demo/tests/data/input/foo.csv
  demo/tests/test_pipeline.py
  dynamicio/core.py
  requirements-dev.txt
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

docs: Update readme.md
  README.md
  docs/images/data-types.png
Due: pydocstyle

refactor: Add lock on HDF5 I/O
  Makefile
  dynamicio/mixins.py
  tests/mocking/io.py
  tests/test_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

docs: Update docs and add ToC
  README.md
Due: pydocstyle

feat: Bring in async-read/write (#13)
  .circleci/config.yml
  Makefile
  README.md
  demo/src/runners/transform.py
  demo/tests/data/input/bar.parquet
  demo/tests/data/input/foo.csv
  demo/tests/test_pipeline.py
  dynamicio/core.py
  dynamicio/mixins.py
  requirements-dev.txt
  tests/mocking/io.py
  tests/test_core.py
  tests/test_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

docs: Fix typos in README.md
  README.md
Due: pydocstyle

docs: Make coverage badge vissible to pypi docs
  README.md
Due: pydocstyle

docs: Fix image rendering
  README.md
Due: pydocstyle

docs: Format ToC title
  README.md
Due: pydocstyle

docs: Update docstrings
  README.md
  demo/tests/test_pipeline.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

build: Relax pyarrow reqs
  Makefile
  requirements.txt
Due: pydocstyle, pytest-check

build: Relax pyarrow reqs (#21)
  Makefile
  requirements.txt
Due: pydocstyle, pytest-check

feat: Modifying dynamicio to reduce boiler plate
  demo/src/io.py
  demo/src/runners/staging.py
  demo/src/runners/transform.py
  dynamicio/__init__.py
  dynamicio/core.py
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

WIP
  demo/src/io.py
  demo/src/runners/staging.py
  demo/src/runners/transform.py
  dynamicio/core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Path conditions:
  formatting: any of: \.py$, but not: ^(tests/conftest.py)
  pylint: any of: \.py$
  pydocstyle: any file but: ^(tests/.*|demo/*)
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  mypy: any of: \.py$
  pytest-check: any file but: ^(.github|.circleci|docs|.flake8|.gitlint|.pylintrc|.docs.Dockerfile|README.md|Makefile|setup.py)
