Repository VorTECHsa/dynamicio: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
repos:
  - repo: local
    hooks:
      - id: gitlint
        name: gitlint
        language: python
        entry: gitlint
        args: [--staged, --msg-filename]
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: formatting
        name: "isort and black"
        exclude: ^(tests/conftest.py)
        entry: bash -c '(isort "$@" && black "$@") || true; git add -u' --
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: pydocstyle
        name: pydocstyle
        exclude: ^(tests/.*|demo/*)
        language: system
        entry: pydocstyle
        stages: [commit]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        description: This hook runs yamllint.
        entry: yamllint
        language: python
        types: [file, yaml]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: Static type checking
        entry: mypy dynamicio/
        language: system
        types: [python]
        stages: [commit]
        pass_filenames: false

  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: python -m pytest tests --cov=dynamicio --cov-report=html --cov-report=xml -v
        exclude: ^(.github|.circleci|docs|.flake8|.gitlint|.pylintrc|.docs.Dockerfile|README.md|Makefile|setup.py)
        language: system
        pass_filenames: false
        stages: [commit]

feat: support specifying a subset of fields to read (#53)
  dynamicio/config/pydantic/__init__.py
  dynamicio/core.py
  dynamicio/mixins/with_local.py
  tests/conftest.py
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: add schema migration script
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Working migration command for schemas
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add capability to convert both schemas and resources
  dynamicio/v5_migration/app.py
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: V4to5 migration CLI (#54)
  .pre-commit-config.yaml
  Makefile
  dynamicio/v5_migration/__init__.py
  dynamicio/v5_migration/__main__.py
  dynamicio/v5_migration/app.py
  dynamicio/v5_migration/resource_migration.py
  dynamicio/v5_migration/resource_templates.py
  dynamicio/v5_migration/schema_migration.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

Add uhura & serde for file resources
  dynamicio/io/file/csv.py
  dynamicio/io/file/hdf.py
  dynamicio/io/file/json.py
  dynamicio/io/file/parquet.py
  dynamicio/io/s3/parquet.py
  dynamicio/serde.py
  requirements.txt
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Correct typehint
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Change hdf extension
  dynamicio/serde.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add uhura tests & fix missing test_path attributes
  dynamicio/io/file/csv.py
  dynamicio/io/file/hdf.py
  dynamicio/io/file/json.py
  tests/test_uhura.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add uhura for s3 resources (& tests)
  dynamicio/io/s3/csv.py
  dynamicio/io/s3/hdf.py
  dynamicio/io/s3/json.py
  dynamicio/io/s3/parquet.py
  tests/test_uhura.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: add support for has_no_nulls validation
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: add support for is_in validator
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: add support for uniqueness validator
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: add support for greater than validation
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: fix issue with empty normalized col names
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: add validator for greater than or equals
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: add validator for is between
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Fix migration script confirm prompt
  dynamicio/v5_migration/app.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add injections and checking in all relevant places
  dynamicio/io/file/csv.py
  dynamicio/io/file/hdf.py
  dynamicio/io/file/json.py
  dynamicio/io/file/parquet.py
  dynamicio/io/s3/csv.py
  dynamicio/io/s3/hdf.py
  dynamicio/io/s3/json.py
  dynamicio/io/s3/parquet.py
  dynamicio/serde.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add postgres + uhura resource
  dynamicio/io/postgres.py
  tests/test_uhura.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add missing check_injections to postgres
  dynamicio/io/postgres.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Correct postgres cache key and test
  dynamicio/io/postgres.py
  tests/test_uhura.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add kafka + uhura resource
  dynamicio/io/kafka.py
  tests/test_uhura.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Remove dead code
  tests/s3/conftest.py
  tests/test_uhura.py
Due: formatting, pylint, flake8, mypy, pytest-check

Remove dead code
  dynamicio/io/s3/parquet.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add and improve tests
  demo/demo.py
  tests/conftest.py
  tests/s3/conftest.py
  tests/s3/hdf/conftest.py
  tests/s3/hdf/test_hdf.py
  tests/s3/hdf/test_s3_hdf_inject.py
  tests/s3/test_s3_implementations.py
  tests/s3/test_s3_inject.py
  tests/test_kafka.py
  tests/test_keyed.py
  tests/test_resource_inject.py
Due: formatting, pylint, flake8, mypy, pytest-check

Fix test writing to files
  tests/test_resource_inject.py
Due: formatting, pylint, flake8, mypy, pytest-check

Remove dead code
  tests/test_resource_inject.py
Due: formatting, pylint, flake8, mypy, pytest-check

Format code
  tests/s3/hdf/conftest.py
  tests/test_file_resources.py
  tests/test_postgres.py
Due: formatting, pylint, flake8, mypy, pytest-check

Add kafka inject tests
  tests/test_kafka.py
Due: formatting, pylint, flake8, mypy, pytest-check

Format code
  tests/test_resource_inject.py
  tests/test_uhura.py
Due: formatting, pylint, flake8, mypy, pytest-check

Add tests for serde and change serde init signature
  dynamicio/io/file/csv.py
  dynamicio/io/file/hdf.py
  dynamicio/io/file/json.py
  dynamicio/io/file/parquet.py
  dynamicio/io/kafka.py
  dynamicio/io/postgres.py
  dynamicio/io/s3/csv.py
  dynamicio/io/s3/hdf.py
  dynamicio/io/s3/json.py
  dynamicio/io/s3/parquet.py
  dynamicio/serde.py
  tests/test_serde.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add resource test_path inject test
  tests/test_resource_test_path_inject.py
Due: formatting, pylint, flake8, mypy, pytest-check

Update migration scripts to work for new uhura based resources
  demo/v4source.yaml
  demo/v5new.py
  dynamicio/v5_migration/app.py
  dynamicio/v5_migration/resource_migration.py
  dynamicio/v5_migration/resource_templates.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

Change a type and ignore yaml file
  .yamllint
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Change PyYAML pinned version
  requirements.txt
Due: pydocstyle, pytest-check

build: Relax PyYaml reqs
  requirements.txt
Due: pydocstyle, pytest-check

build: Relax PyYaml reqs (#56)
  requirements.txt
Due: pydocstyle, pytest-check

fix: remove scaffolding
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: optimise imports
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check
