Repository VorTECHsa/dynamicio: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
repos:
  - repo: local
    hooks:
      - id: gitlint
        name: gitlint
        language: python
        entry: gitlint
        args: [--staged, --msg-filename]
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: formatting
        name: "isort and black"
        exclude: ^(tests/conftest.py)
        entry: bash -c '(isort "$@" && black "$@") || true; git add -u' --
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: pydocstyle
        name: pydocstyle
        exclude: ^(tests/.*|demo/*)
        language: system
        entry: pydocstyle
        stages: [commit]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        description: This hook runs yamllint.
        entry: yamllint
        language: python
        types: [file, yaml]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: Static type checking
        entry: mypy dynamicio/
        language: system
        types: [python]
        stages: [commit]
        pass_filenames: false

  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: python -m pytest tests --cov=dynamicio --cov-report=html --cov-report=xml -v
        exclude: ^(.github|.circleci|docs|.flake8|.gitlint|.pylintrc|.docs.Dockerfile|README.md|Makefile|setup.py)
        language: system
        pass_filenames: false
        stages: [commit]

style: Improve postgres logs
  Makefile
  dynamicio/mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: Address sql_query marked as false input warning (#35)
  Makefile
  dynamicio/mixins.py
  tests/resources/definitions/input.yaml
  tests/test_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

docs: Update docs
  dynamicio/core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: minor code compartmentation
  .flake8
  Makefile
  dynamicio/core.py
  dynamicio/mixins.py
  dynamicio/mixins/__init__.py
  dynamicio/mixins/utils.py
  dynamicio/mixins/with_kafka.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_postgres.py
  dynamicio/mixins/with_s3.py
  requirements-dev.txt
  tests/conftest.py
  tests/test_metrics.py
  tests/test_mixins.py
  tests/test_mixins/test_kafka_mixins.py
  tests/test_mixins/test_local_mixins.py
  tests/test_mixins/test_mixin_utils.py
  tests/test_mixins/test_postgres_mixins.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

ci: installing pip requirements with a single pip install call
  .circleci/config.yml
Due: pydocstyle, yamllint

style: list comprehensions were disabled in pylint
  dynamicio/core.py
  requirements-dev.txt
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: created file format readers and writers
  dynamicio/mixins/with_local.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: created file format readers and writers
  dynamicio/mixins/file_formats/__init__.py
  dynamicio/mixins/file_formats/base.py
  dynamicio/mixins/file_formats/generic_pandas.py
  dynamicio/mixins/file_formats/hdf.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Revert "refactor: created file format readers and writers"
  dynamicio/mixins/file_formats/__init__.py
  dynamicio/mixins/file_formats/base.py
  dynamicio/mixins/file_formats/generic_pandas.py
  dynamicio/mixins/file_formats/hdf.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Revert "refactor: created file format readers and writers"
  dynamicio/mixins/with_local.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: support for in-memory HDF files
  dynamicio/mixins/utils.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_s3.py
  tests/conftest.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: black
  tests/conftest.py
Due: pylint, flake8, mypy, pytest-check

style: Squelching pylint being unhappy with use of pytest fixture
  tests/conftest.py
Due: pylint, flake8, mypy, pytest-check

feat: Multithreaded s3 pull
  dynamicio/mixins/with_s3.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: flake8
  dynamicio/mixins/with_s3.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: pylint
  tests/conftest.py
Due: pylint, flake8, mypy, pytest-check

style: minor code compartmentation (#36)
  .circleci/config.yml
  .flake8
  Makefile
  dynamicio/core.py
  dynamicio/mixins.py
  dynamicio/mixins/__init__.py
  dynamicio/mixins/utils.py
  dynamicio/mixins/with_kafka.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_postgres.py
  dynamicio/mixins/with_s3.py
  requirements-dev.txt
  tests/conftest.py
  tests/test_metrics.py
  tests/test_mixins.py
  tests/test_mixins/test_kafka_mixins.py
  tests/test_mixins/test_local_mixins.py
  tests/test_mixins/test_mixin_utils.py
  tests/test_mixins/test_postgres_mixins.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

docs: Update
  docs/core.html
  docs/index.html
  docs/mixins/index.html
  docs/mixins/utils.html
  docs/mixins/with_kafka.html
  docs/mixins/with_local.html
  docs/mixins/with_postgres.html
  docs/mixins/with_s3.html
Due: pydocstyle

docs: Update
  docs/cli.html
  docs/config.html
  docs/core.html
  docs/errors.html
  docs/index.html
  docs/metrics.html
  docs/mixins.html
  docs/mixins/index.html
  docs/mixins/utils.html
  docs/mixins/with_kafka.html
  docs/mixins/with_local.html
  docs/mixins/with_postgres.html
  docs/mixins/with_s3.html
  docs/validations.html
Due: pydocstyle

docs: Update
  docs/cli.html
  docs/config.html
  docs/core.html
  docs/errors.html
  docs/index.html
  docs/metrics.html
  docs/mixins/index.html
  docs/mixins/utils.html
  docs/mixins/with_kafka.html
  docs/mixins/with_local.html
  docs/mixins/with_postgres.html
  docs/mixins/with_s3.html
  docs/validations.html
Due: pydocstyle

docs: Update (#38)
  docs/core.html
  docs/index.html
  docs/mixins.html
  docs/mixins/index.html
  docs/mixins/utils.html
  docs/mixins/with_kafka.html
  docs/mixins/with_local.html
  docs/mixins/with_postgres.html
  docs/mixins/with_s3.html
Due: pydocstyle

style: Forgotten merge
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, flake8, mypy, pytest-check

fix: Restoring accidentally formatted conftest.py
  tests/conftest.py
Due: pylint, flake8, mypy, pytest-check

test: Restored the missing fixture
  tests/conftest.py
Due: pylint, flake8, mypy, pytest-check

feat: Pydantic intermediate
  dynamicio/config/__init__.py
  dynamicio/config/io_config.py
  dynamicio/config/pydantic/__init__.py
  dynamicio/config/pydantic/config.py
  dynamicio/config/pydantic/environment.py
  dynamicio/config/pydantic/table_schema.py
  dynamicio/core.py
  dynamicio/mixins/with_local.py
  dynamicio/validations.py
  requirements.txt
  tests/test_config.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Pydantic intermediate
  dynamicio/core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: pydantic configs
  demo/tests/test_pipeline.py
  dynamicio/config/io_config.py
  dynamicio/config/pydantic/__init__.py
  dynamicio/config/pydantic/config.py
  dynamicio/config/pydantic/environment.py
  dynamicio/config/pydantic/table_schema.py
  dynamicio/core.py
  dynamicio/mixins/with_kafka.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_postgres.py
  dynamicio/mixins/with_s3.py
  tests/conftest.py
  tests/resources/definitions/input.yaml
  tests/test_config.py
  tests/test_core.py
  tests/test_mixins/test_local_mixins.py
  tests/test_mixins/test_postgres_mixins.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

feat: Renamed `schema` to prevent clash with pydantic
  dynamicio/config/pydantic/environment.py
  dynamicio/core.py
  dynamicio/mixins/with_postgres.py
  tests/test_config.py
  tests/test_mixins/test_postgres_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: pylint
  .pylintrc
  dynamicio/config/__init__.py
  dynamicio/config/io_config.py
  dynamicio/config/pydantic/__init__.py
  dynamicio/config/pydantic/config.py
  dynamicio/config/pydantic/environment.py
  dynamicio/config/pydantic/table_schema.py
  dynamicio/mixins/with_postgres.py
  dynamicio/validations.py
  tests/test_config.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: flake8
  dynamicio/validations.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

test: fixing absolute paths in unittests
  tests/conftest.py
  tests/test_config.py
Due: formatting, pylint, flake8, mypy, pytest-check

refactor: Removing dead legacy code
  dynamicio/config/io_config.py
  tests/conftest.py
  tests/test_config.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: removing absolute imports
  dynamicio/config/__init__.py
  dynamicio/config/io_config.py
  dynamicio/config/pydantic/__init__.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: renamed the module, fixed the relative imports
  .flake8
  dynamicio/config/pydantic/__init__.py
  dynamicio/config/pydantic/config.py
  dynamicio/config/pydantic/io_resources.py
  dynamicio/mixins/__init__.py
  dynamicio/mixins/with_kafka.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_postgres.py
  dynamicio/mixins/with_s3.py
  requirements-dev.txt
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: flake8
  tests/conftest.py
Due: pylint, flake8, mypy, pytest-check

feat: introduce 'df' cached_property
  dynamicio/core.py
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: make linters happy
  dynamicio/core.py
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: flake8 sucks
  dynamicio/core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: Making Christos happy
  dynamicio/mixins/with_s3.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check
