Repository VorTECHsa/dynamicio: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
repos:
  - repo: local
    hooks:
      - id: gitlint
        name: gitlint
        language: python
        entry: gitlint
        args: [--staged, --msg-filename]
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: formatting
        name: "isort and black"
        exclude: ^(tests/conftest.py)
        entry: bash -c '(isort "$@" && black "$@") || true; git add -u' --
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: pydocstyle
        name: pydocstyle
        exclude: ^(tests/.*|demo/*)
        language: system
        entry: pydocstyle
        stages: [commit]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        description: This hook runs yamllint.
        entry: yamllint
        language: python
        types: [file, yaml]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: Static type checking
        entry: mypy dynamicio/
        language: system
        types: [python]
        stages: [commit]
        pass_filenames: false

  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: python -m pytest tests --cov=dynamicio --cov-report=html --cov-report=xml -v
        exclude: ^(.github|.circleci|docs|.flake8|.gitlint|.pylintrc|.docs.Dockerfile|README.md|Makefile|setup.py)
        language: system
        pass_filenames: false
        stages: [commit]

style: Making pylint happy
  dynamicio/mixins/with_s3.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: No disk space h5 (#37)
  dynamicio/mixins/utils.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_s3.py
  tests/conftest.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: removed DataframeSchemaRef class to simplify type annotations.
  dynamicio/config/io_config.py
  dynamicio/config/pydantic/__init__.py
  dynamicio/config/pydantic/config.py
  dynamicio/config/pydantic/io_resources.py
  dynamicio/config/pydantic/table_schema.py
  dynamicio/core.py
  dynamicio/mixins/with_local.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: mypy
  dynamicio/__init__.py
  dynamicio/config/io_config.py
  dynamicio/config/pydantic/config.py
  dynamicio/config/pydantic/io_resources.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_postgres.py
  dynamicio/mixins/with_s3.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: importing from typing
  dynamicio/config/pydantic/config.py
  dynamicio/config/pydantic/io_resources.py
  dynamicio/config/pydantic/table_schema.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: Removed txt file type from pydantic
  dynamicio/config/io_config.py
  dynamicio/config/pydantic/io_resources.py
  tests/resources/definitions/input.yaml
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix: Added all column types found in out codebase
  dynamicio/config/io_config.py
  dynamicio/config/pydantic/table_schema.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: @staticmethod
  dynamicio/core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Introduce Pydantic (#40)
  .flake8
  .pylintrc
  demo/tests/test_pipeline.py
  dynamicio/__init__.py
  dynamicio/config/__init__.py
  dynamicio/config/io_config.py
  dynamicio/config/pydantic/__init__.py
  dynamicio/config/pydantic/config.py
  dynamicio/config/pydantic/io_resources.py
  dynamicio/config/pydantic/table_schema.py
  dynamicio/core.py
  dynamicio/mixins/__init__.py
  dynamicio/mixins/with_kafka.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_postgres.py
  dynamicio/mixins/with_s3.py
  dynamicio/validations.py
  requirements-dev.txt
  requirements.txt
  tests/conftest.py
  tests/resources/definitions/input.yaml
  tests/test_config.py
  tests/test_core.py
  tests/test_mixins/test_local_mixins.py
  tests/test_mixins/test_postgres_mixins.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

feat: moving unnecessary type union.
  dynamicio/config/pydantic/table_schema.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: black and flake8
  .circleci/config.yml
  dynamicio/config/pydantic/table_schema.py
  tests/test_mixins/test_postgres_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix: Added 4.3.0 regression tests
  tests/test_regressions/conftest.py
  tests/test_regressions/resources/missing_v430_validations.yaml
  tests/test_regressions/test_v430.py
Due: formatting, pylint, flake8, yamllint, mypy, pytest-check

fix: Added 4.3.0 regression tests
  dynamicio/core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: flake8
  tests/test_regressions/conftest.py
  tests/test_regressions/test_v430.py
Due: formatting, pylint, flake8, mypy, pytest-check

fix: allowing to specify no validations & metrices
  dynamicio/core.py
  tests/mocking/io.py
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Introduce Pydantic (#43)
  .circleci/config.yml
  .flake8
  .pylintrc
  demo/tests/test_pipeline.py
  dynamicio/__init__.py
  dynamicio/config/__init__.py
  dynamicio/config/io_config.py
  dynamicio/config/pydantic/__init__.py
  dynamicio/config/pydantic/config.py
  dynamicio/config/pydantic/io_resources.py
  dynamicio/config/pydantic/table_schema.py
  dynamicio/core.py
  dynamicio/mixins/__init__.py
  dynamicio/mixins/with_kafka.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_postgres.py
  dynamicio/mixins/with_s3.py
  dynamicio/validations.py
  requirements-dev.txt
  requirements.txt
  tests/conftest.py
  tests/mocking/io.py
  tests/resources/definitions/input.yaml
  tests/test_config.py
  tests/test_core.py
  tests/test_mixins/test_local_mixins.py
  tests/test_mixins/test_postgres_mixins.py
  tests/test_mixins/test_s3_mixins.py
  tests/test_regressions/conftest.py
  tests/test_regressions/resources/missing_v430_validations.yaml
  tests/test_regressions/test_v430.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

style: Switching over to absolute imports
  .flake8
Due: pydocstyle

scratch: Try coupling vals and logs
  demo/src/io.py
  demo/tests/test_pandera_validations.py
  dynamicio/metrics.py
  requirements.txt
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: sqlalchemy version
  .coveragerc
  requirements.txt
Due: pydocstyle, pytest-check

fix: Lock sqlalchemy version to ~=1.4.11 (#45)
  .coveragerc
  requirements.txt
Due: pydocstyle, pytest-check

fix: sqlalchemy version
  requirements.txt
Due: pydocstyle, pytest-check

wip: Demo
  README.md
  demo/resources/definitions/staging_input.yaml
  demo/resources/definitions/staging_output.yaml
  demo/resources/definitions/transform_input.yaml
  demo/resources/definitions/transform_output.yaml
  demo/src/__init__.py
  demo/src/io.py
  demo/src/io/__init__.py
  demo/src/io/schemas.py
  demo/src/runners/staging.py
  demo/src/runners/transform.py
  demo/tests/data/transform/expected/staged_bar.parquet
  demo/tests/data/transform/expected/staged_foo.parquet
  dynamicio/core.py
  tests/test_core.py
  tests/test_mixins/test_local_mixins.py
  tests/test_mixins/test_mixin_utils.py
  tests/test_mixins/test_postgres_mixins.py
  tests/test_mixins/test_s3_mixins.py
  tests/test_regressions/test_v430.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

wip
  demo/src/runners/staging.py
Due: formatting, pylint, flake8, mypy, pytest-check

feat: Adding '---' to the beginning of yaml files generated by cli
  dynamicio/cli.py
  tests/conftest.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: renaming variable
  dynamicio/cli.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Adding '---' to the beginning of yaml files generated by cli (#48)
  dynamicio/cli.py
  tests/conftest.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

pylint
  tests/test_parquet_file.py
Due: formatting, pylint, flake8, mypy, pytest-check

refactor: Change environment.py to keyed.py and change to abs imports
  dynamicio/handlers/__init__.py
  dynamicio/handlers/keyed.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Make inject return self and implement for keyed resource
  dynamicio/base.py
  dynamicio/handlers/file.py
  dynamicio/handlers/keyed.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Change injection logic slightly and simplify injection code
  dynamicio/handlers/file.py
  dynamicio/inject.py
  dynamicio/utils.py
  pyproject.toml
  tests/test_inject.py
  tests/test_parquet_file.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Add more tests, add InjectionError
  dynamicio/base.py
  dynamicio/handlers/file.py
  dynamicio/inject.py
  requirements-dev.txt
  tests/test_inject.py
  tests/test_resources/__init__.py
  tests/test_resources/file/__init__.py
  tests/test_resources/file/test_file.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Add S3 resources
  dynamicio/handlers/s3/__init__.py
  dynamicio/handlers/s3/contexts.py
  dynamicio/handlers/s3/file.py
  dynamicio/handlers/s3/hdf.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

docs: Add attributes
  dynamicio/handlers/s3/file.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: make keyed resource immutable.
  dynamicio/handlers/file.py
  dynamicio/handlers/keyed.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Make file resources leaner
  dynamicio/handlers/file.py
  tests/conftest.py
  tests/resources/data/input/parquet_sample.parquet
  tests/resources/data/input/pg_parquet_sample.parquet
  tests/test_parquet_file.py
  tests/test_resources/file/test_file.py
  tests/test_resources/file/test_parquet.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Remove pylint from tests
  .circleci/config.yml
  tests/test_inject.py
  tests/test_parquet_file.py
  tests/test_resources/file/test_file.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix: HDF File resource
  dynamicio/handlers/file.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check
