Repository VorTECHsa/dynamicio: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

formatting:
  name: isort and black
  entry: bash -c '(isort "$@" && black "$@") || true; git add -u' --
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

pydocstyle:
  name: pydocstyle
  language: system
  entry: pydocstyle
  stages:
  - commit

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - commit

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python
  stages:
  - commit

mypy:
  name: mypy
  description: Static type checking
  entry: mypy dynamicio/
  language: system
  stages:
  - commit
  pass_filenames: false

pytest-check:
  name: pytest-check
  entry: python -m pytest tests --cov=dynamicio --cov-report=html --cov-report=xml -v
  language: system
  pass_filenames: false
  stages:
  - commit

feat: testing naming of postgress connection
  2.0
  dynamicio/mixins/with_postgres.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: add note about custom validations
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

PoC for refactor
  dynamicio/io/base.py
  dynamicio/io/file/base.py
  dynamicio/io/file/csv.py
  dynamicio/io/file/hdf.py
  dynamicio/io/file/json.py
  dynamicio/io/file/parquet.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add brackets
  dynamicio/io/postgres.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Add uhura (#55)
  demo/demo.py
  demo/v4source.yaml
  demo/v5new.py
  dynamicio/io/file/csv.py
  dynamicio/io/file/hdf.py
  dynamicio/io/file/json.py
  dynamicio/io/file/parquet.py
  dynamicio/io/kafka.py
  dynamicio/io/postgres.py
  dynamicio/io/s3/csv.py
  dynamicio/io/s3/hdf.py
  dynamicio/io/s3/json.py
  dynamicio/io/s3/parquet.py
  dynamicio/serde.py
  dynamicio/v5_migration/app.py
  dynamicio/v5_migration/resource_migration.py
  dynamicio/v5_migration/resource_templates.py
  dynamicio/v5_migration/schema_migration.py
  requirements.txt
  tests/conftest.py
  tests/s3/conftest.py
  tests/s3/hdf/conftest.py
  tests/s3/hdf/test_hdf.py
  tests/s3/hdf/test_s3_hdf_inject.py
  tests/s3/test_s3_implementations.py
  tests/s3/test_s3_inject.py
  tests/test_file_resources.py
  tests/test_kafka.py
  tests/test_keyed.py
  tests/test_postgres.py
  tests/test_resource_inject.py
  tests/test_resource_test_path_inject.py
  tests/test_serde.py
  tests/test_uhura.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

feat: Add demo files
  demo/keyed.py
  demo/migrations/.gitignore
  demo/migrations/v4_resource.yaml
  demo/migrations/v4_schema.yaml
  demo/migrations/v5_resource.py
  demo/migrations/v5_schema.py
Due: formatting, pylint, flake8, yamllint, mypy, pytest-check

feat: Correct demo files
  demo/migrations/v4_schema.yaml
  demo/migrations/v5_schema.py
Due: formatting, pylint, flake8, yamllint, mypy, pytest-check

feat: Add less than and less equals to schema migration cli
  demo/migrations/v5_schema.py
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Adding application name option
  dynamicio/io/postgres.py
  tests/test_postgres.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

chore: update make file and requirements
  Makefile
  requirements.txt
Due: pydocstyle, pytest-check

feat: Label Postgres connections (#60)
  Makefile
  dynamicio/io/postgres.py
  requirements.txt
  tests/test_postgres.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Add migration schema match_all warning
  demo/migrations/v4_schema.yaml
  demo/migrations/v5_schema.py
  dynamicio/v5_migration/app.py
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

feat: Add schema validations to migrations (#58)
  demo/keyed.py
  demo/migrations/.gitignore
  demo/migrations/v4_resource.yaml
  demo/migrations/v4_schema.yaml
  demo/migrations/v5_resource.py
  demo/migrations/v5_schema.py
  dynamicio/v5_migration/app.py
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

Delete a demo file
  demo/keyed.py
Due: formatting, pylint, flake8, mypy, pytest-check

Remove magic-logger
  dynamicio/__init__.py
  dynamicio/io/kafka.py
  dynamicio/io/postgres.py
  requirements.txt
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Remove magic-logger (#61)
  dynamicio/__init__.py
  dynamicio/io/kafka.py
  dynamicio/io/postgres.py
  requirements.txt
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

POC for dodging validation issue
  dynamicio/io/file/parquet.py
  tests/resources/data/input/modified.csv
  tests/resources/data/input/modified.parquet
  tests/resources/data/input/parquet_sample.csv
  tests/test_uhura_sub_resource.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Clean up fixtures
  tests/fixtures/sample.csv
  tests/fixtures/sample.hdf
  tests/fixtures/sample.json
  tests/fixtures/sample.parquet
  tests/fixtures/schemas.py
  tests/resources/data/external/h5_with_more_columns.h5
  tests/resources/data/external/json_with_more_columns.json
  tests/resources/data/input/batch/hdf/part_01.h5
  tests/resources/data/input/batch/hdf/part_02.h5
  tests/resources/data/input/batch/not_just_hdf/part_01.h5
  tests/resources/data/input/batch/not_just_hdf/part_02.h5
  tests/resources/data/input/batch/not_just_hdf/something_to_ignore.txt
  tests/resources/data/input/batch/not_just_parquet/part_01.parquet
  tests/resources/data/input/batch/not_just_parquet/part_02.parquet
  tests/resources/data/input/batch/not_just_parquet/something_to_ignore.txt
  tests/resources/data/input/batch/parquet/part_01.parquet
  tests/resources/data/input/batch/parquet/part_02.parquet
  tests/resources/data/input/batch/parquet_w_empty_files/emptyfile.parquet
  tests/resources/data/input/batch/parquet_w_empty_files/fullfile.parquet
  tests/resources/data/input/csv_sample.csv
  tests/resources/data/input/hdf_sample.h5
  tests/resources/data/input/json_sample.json
  tests/resources/data/input/modified.csv
  tests/resources/data/input/modified.parquet
  tests/resources/data/input/parquet_sample.csv
  tests/resources/data/input/parquet_sample.parquet
  tests/resources/data/input/pg_parquet_sample.parquet
  tests/resources/data/processed/.gitkeep
  tests/resources/data/processed/some_parquet_to_read.parquet
  tests/resources/data/temp/.gitkeep
  tests/test_file_resource.py
  tests/test_inject.py
Due: formatting, pylint, flake8, mypy, pytest-check

Refactor dynamicio File resources
  dynamicio/__init__.py
  dynamicio/io/__init__.py
  dynamicio/io/file/__init__.py
  dynamicio/io/file/csv.py
  dynamicio/io/file/file.py
  dynamicio/io/file/hdf.py
  dynamicio/io/file/json.py
  dynamicio/io/file/parquet.py
  dynamicio/serde.py
  dynamicio/v5_migration/resource_templates.py
  tests/conftest.py
  tests/constants.py
  tests/fixtures/schemas.py
  tests/test_file_resources.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Make S3 and file resources work
  dynamicio/io/file/csv.py
  dynamicio/io/file/hdf.py
  dynamicio/io/file/json.py
  dynamicio/io/file/parquet.py
  dynamicio/io/s3/__init__.py
  dynamicio/io/s3/contexts.py
  dynamicio/io/s3/csv.py
  dynamicio/io/s3/hdf.py
  dynamicio/io/s3/json.py
  dynamicio/io/s3/parquet.py
  dynamicio/io/s3/s3.py
  dynamicio/v5_migration/resource_templates.py
  tests/conftest.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Remove KeyedResource and fix imports
  dynamicio/__init__.py
  dynamicio/io/__init__.py
  dynamicio/io/keyed.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Refactor kafka resource
  dynamicio/io/kafka.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Refactor postgres resource
  dynamicio/io/postgres.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Delete custom inject logic
  dynamicio/inject.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add validation serde for parquet back in
  dynamicio/io/file/file.py
  dynamicio/io/file/parquet.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: compute metrics prototype
  dynamicio/metrics.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: add metrics migration
  dynamicio/metrics.py
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

test: add tests for metrics logging
  dynamicio/metrics.py
  tests/test_metrics.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

docs: add clarifying comment
  dynamicio/metrics.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

docs: fix typos
  dynamicio/metrics.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

chore: updating the CODEOWNERS
  .github/CODEOWNERS
Due: pydocstyle

chore: Matteo and Deaglan
  .github/CODEOWNERS
Due: pydocstyle

Chore: updating the CODEOWNERS (#63)
  .github/CODEOWNERS
Due: pydocstyle

Delete current io
  dynamicio/io/__init__.py
  dynamicio/io/file/__init__.py
  dynamicio/io/file/csv.py
  dynamicio/io/file/file.py
  dynamicio/io/file/hdf.py
  dynamicio/io/file/json.py
  dynamicio/io/file/parquet.py
  dynamicio/io/kafka.py
  dynamicio/io/postgres.py
  dynamicio/io/s3/__init__.py
  dynamicio/io/s3/csv.py
  dynamicio/io/s3/hdf.py
  dynamicio/io/s3/json.py
  dynamicio/io/s3/parquet.py
  dynamicio/io/s3/s3.py
  dynamicio/io/s3_contexts.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add base resource and serde classes
  dynamicio/io/resource.py
  dynamicio/io/serde.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add file and s3 resources
  dynamicio/io/__init__.py
  dynamicio/io/file.py
  dynamicio/io/s3.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Update __init__ files
  dynamicio/__init__.py
  dynamicio/io/__init__.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Delete old serde
  dynamicio/serde.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Fluff
  dynamicio/io/file.py
  dynamicio/io/s3.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Path conditions:
  formatting: any of: \.py$, but not: ^(tests/conftest.py)
  pylint: any of: \.py$
  pydocstyle: any file but: ^(tests/.*|demo/*)
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  mypy: any of: \.py$
  pytest-check: any file but: ^(.github|.circleci|docs|.flake8|.gitlint|.pylintrc|.docs.Dockerfile|README.md|Makefile|setup.py)
