Repository VorTECHsa/dynamicio: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

formatting:
  name: isort and black
  entry: bash -c '(isort "$@" && black "$@") || true; git add -u' --
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

pydocstyle:
  name: pydocstyle
  language: system
  entry: pydocstyle
  stages:
  - commit

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - commit

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python
  stages:
  - commit

mypy:
  name: mypy
  description: Static type checking
  entry: mypy dynamicio/
  language: system
  stages:
  - commit
  pass_filenames: false

pytest-check:
  name: pytest-check
  entry: python -m pytest tests --cov=dynamicio --cov-report=html --cov-report=xml -v
  language: system
  pass_filenames: false
  stages:
  - commit

feat: More changes to remove custom validation logic
  dynamicio/core.py
  dynamicio/errors.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

ci: Optimise ci for tests
  .circleci/config.yml
Due: pydocstyle, yamllint

ci: Increase tests parallelism
  .circleci/config.yml
Due: pydocstyle, yamllint

feat: Allow use of dynamic schemas
  README.md
  demo/src/environment.py
  dynamicio/config.py
  tests/conftest.py
  tests/constants.py
  tests/resources/definitions/test_input.yaml
  tests/resources/schemas/bar.yaml
  tests/test_config.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

test: Update tests
  .pre-commit-config.yaml
  dynamicio/config.py
  tests/test_config.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix: Address review comments
  README.md
Due: pydocstyle

fix: Make test output dynamic
  Makefile
  tests/conftest.py
Due: pylint, pydocstyle, flake8, mypy, pytest-check

feat: Allow use of dynamic schemas (#27)
  .pre-commit-config.yaml
  Makefile
  README.md
  demo/src/environment.py
  dynamicio/config.py
  tests/conftest.py
  tests/constants.py
  tests/resources/definitions/test_input.yaml
  tests/resources/schemas/bar.yaml
  tests/test_config.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

ci: Optimise ci for tests (#26)
  .circleci/config.yml
Due: pydocstyle, yamllint

feat: Adjusting io.py to remove boiler plate code
  demo/src/io.py
  demo/src/runners/staging.py
  demo/src/runners/transform.py
  dynamicio/core.py
  dynamicio/errors.py
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

test: Confirm dataset naming behaviour
  tests/test_core.py
Due: formatting, pylint, flake8, mypy, pytest-check

docs: Update root readme
  README.md
  demo/src/io.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Testing custom naming of datasets
  .pylintrc
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: Renaming variable in test case
  tests/test_core.py
Due: formatting, pylint, flake8, mypy, pytest-check

feat: Adding function to name datasets
  dynamicio/core.py
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Rename method
  dynamicio/core.py
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

test: Use test parameterisation
  tests/test_core.py
Due: formatting, pylint, flake8, mypy, pytest-check

refactor: Remove boiler plate code for IO classes (#24)
  .pylintrc
  README.md
  demo/src/io.py
  demo/src/runners/staging.py
  demo/src/runners/transform.py
  dynamicio/core.py
  dynamicio/errors.py
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Extend has_acceptable_categorical_values
  dynamicio/core.py
  dynamicio/validations.py
  tests/resources/schemas/foo.yaml
  tests/test_validations.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

docs: Update validation info
  README.md
  tests/resources/schemas/foo.yaml
Due: pydocstyle, yamllint, pytest-check

refactor: Rename validation functs
  README.md
  docs/config.html
  docs/core.html
  docs/errors.html
  docs/index.html
  docs/mixins.html
  docs/validations.html
  dynamicio/validations.py
  tests/conftest.py
  tests/resources/schemas/foo.yaml
  tests/resources/schemas/read_from_s3_csv.yaml
  tests/resources/schemas/write_to_s3_csv.yaml
  tests/test_validations.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

refactor: Change validation functs
  dynamicio/validations.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Extend has equal validation (#29)
  README.md
  docs/config.html
  docs/core.html
  docs/errors.html
  docs/index.html
  docs/mixins.html
  docs/validations.html
  dynamicio/core.py
  dynamicio/validations.py
  tests/conftest.py
  tests/resources/schemas/foo.yaml
  tests/resources/schemas/read_from_s3_csv.yaml
  tests/resources/schemas/write_to_s3_csv.yaml
  tests/test_validations.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix: Confirm floats are not returned unless a repl takes place
  dynamicio/config.py
  tests/resources/schemas/bar.yaml
  tests/test_config.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

refactor: remove unnecessary comment
  dynamicio/mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: add truncate_and_append to postgres writing
  dynamicio/mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: specify a False default to truncate_and_append
  dynamicio/mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

docs: Update API docs
  docs/mixins.html
  docs/validations.html
Due: pydocstyle

docs: update documentation
  docs/mixins.html
Due: pydocstyle

fix: add test for truncate_and_append
  dynamicio/mixins.py
  tests/test_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

docs: generate docs from docstring
  docs/mixins.html
  dynamicio/mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: use self.options instead
  dynamicio/mixins.py
  tests/test_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: do a batch insert for better performance
  dynamicio/mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: implement speedup hack
  dynamicio/mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

docs: regenerate docs
  docs/mixins.html
Due: pydocstyle

feat: Add truncate and append functionality to Postgres writer (#32)
  docs/mixins.html
  docs/validations.html
  dynamicio/mixins.py
  tests/test_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: Confirm floats are not returned unless a repl takes place (#31)
  dynamicio/config.py
  tests/resources/schemas/bar.yaml
  tests/test_config.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix: Address pandas 1.5.1 warning with generic assignment
  .coveragerc
  docs/config.html
  docs/core.html
  docs/coverage_report/coverage-badge.svg
  dynamicio/core.py
  dynamicio/mixins.py
  requirements-build.txt
  requirements-dev.txt
  requirements.txt
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: Address pandas 1.5.1 warning with generic assignment (#33)
  .coveragerc
  docs/config.html
  docs/core.html
  docs/coverage_report/coverage-badge.svg
  dynamicio/core.py
  dynamicio/mixins.py
  requirements-build.txt
  requirements-dev.txt
  requirements.txt
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: Address sql_query marked as false input warning
  dynamicio/mixins.py
  tests/resources/definitions/input.yaml
  tests/test_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

Path conditions:
  formatting: any of: \.py$, but not: ^(tests/conftest.py)
  pylint: any of: \.py$
  pydocstyle: any file but: ^(tests/.*|demo/*)
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  mypy: any of: \.py$
  pytest-check: any file but: ^(.github|.circleci|docs|.flake8|.gitlint|.pylintrc|.docs.Dockerfile|README.md|Makefile|setup.py)
