Repository VorTECHsa/dynamicio: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
repos:
  - repo: local
    hooks:
      - id: gitlint
        name: gitlint
        language: python
        entry: gitlint
        args: [--staged, --msg-filename]
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: formatting
        name: "isort and black"
        exclude: ^(tests/conftest.py)
        entry: bash -c '(isort "$@" && black "$@") || true; git add -u' --
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: pydocstyle
        name: pydocstyle
        exclude: ^(tests/.*|demo/*)
        language: system
        entry: pydocstyle
        stages: [commit]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        description: This hook runs yamllint.
        entry: yamllint
        language: python
        types: [file, yaml]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: Static type checking
        entry: mypy dynamicio/
        language: system
        types: [python]
        stages: [commit]
        pass_filenames: false

  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: python -m pytest tests --cov=dynamicio --cov-report=html --cov-report=xml -v
        exclude: ^(.github|.circleci|docs|.flake8|.gitlint|.pylintrc|.docs.Dockerfile|README.md|Makefile|setup.py)
        language: system
        pass_filenames: false
        stages: [commit]

style: Fixes
  .pylintrc
  dynamicio/__init__.py
  dynamicio/__main__.py
  dynamicio/cli.py
  dynamicio/config/io_config.py
  dynamicio/config/pydantic/__init__.py
  dynamicio/config/pydantic/config.py
  dynamicio/config/pydantic/table_schema.py
  dynamicio/core.py
  dynamicio/errors.py
  dynamicio/metrics.py
  dynamicio/mixins/utils.py
  dynamicio/mixins/with_kafka.py
  dynamicio/validations.py
  pyproject.toml
  tests/mocking/models.py
  tests/test_cli.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: Fixes
  dynamicio/config/pydantic/io_resources.py
  tests/test_mixins/test_kafka_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: ensure compatibility with pandas>=2.0 by using SQLAlchemy Connection in read_sql (#90)
  .pre-commit-config.yaml
  .pylintrc
  Makefile
  dynamicio/__init__.py
  dynamicio/__main__.py
  dynamicio/cli.py
  dynamicio/config/io_config.py
  dynamicio/config/pydantic/__init__.py
  dynamicio/config/pydantic/config.py
  dynamicio/config/pydantic/io_resources.py
  dynamicio/config/pydantic/table_schema.py
  dynamicio/core.py
  dynamicio/errors.py
  dynamicio/metrics.py
  dynamicio/mixins/utils.py
  dynamicio/mixins/with_kafka.py
  dynamicio/mixins/with_postgres.py
  dynamicio/validations.py
  poetry.lock
  pyproject.toml
  tests/mocking/io.py
  tests/mocking/models.py
  tests/test_cli.py
  tests/test_mixins/test_kafka_mixins.py
  tests/test_mixins/test_postgres_mixins.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix: S3 Writes are to a single file (for now)
  .coveragerc
  dynamicio/__init__.py
  dynamicio/config/pydantic/config.py
  dynamicio/core.py
  dynamicio/errors.py
  dynamicio/mixins/utils.py
  dynamicio/mixins/with_athena.py
  dynamicio/mixins/with_kafka.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_s3.py
  pyproject.toml
  tests/mocking/io.py
  tests/resources/data/input/multi_row_json.json
  tests/resources/data/input/single_row_json.json
  tests/resources/definitions/input.yaml
  tests/test_core.py
  tests/test_errors.py
  tests/test_mixins/test_local_mixins.py
  tests/test_mixins/test_postgres_mixins.py
  tests/test_mixins/test_s3_mixins.py
  tests/test_mixins/test_utils.py
  tests/test_table_schema.py
  tests/test_validations.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

test: align postgres and s3 mixin specs with new I/O flow
  poetry.lock
  pyproject.toml
  tests/test_mixins/test_postgres_mixins.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

docs: add Backstage catalog + migrate from pdoc to mkdocs/mkdocstrings
  Makefile
  catalog-info.yaml
  docs/api.md
  docs/cli.html
  docs/config/index.html
  docs/config/io_config.html
  docs/config/pydantic/config.html
  docs/config/pydantic/index.html
  docs/config/pydantic/io_resources.html
  docs/config/pydantic/table_schema.html
  docs/core.html
  docs/dynamicio/config/index.html
  docs/dynamicio/config/io_config.html
  docs/dynamicio/config/pydantic/config.html
  docs/dynamicio/config/pydantic/index.html
  docs/dynamicio/config/pydantic/io_resources.html
  docs/dynamicio/config/pydantic/table_schema.html
  docs/dynamicio/mixins/index.html
  docs/dynamicio/mixins/utils.html
  docs/dynamicio/mixins/with_kafka.html
  docs/dynamicio/mixins/with_local.html
  docs/dynamicio/mixins/with_postgres.html
  docs/dynamicio/mixins/with_s3.html
  docs/errors.html
  docs/index.html
  docs/index.md
  docs/metrics.html
  docs/mixins/index.html
  docs/mixins/utils.html
  docs/mixins/with_kafka.html
  docs/mixins/with_local.html
  docs/mixins/with_postgres.html
  docs/mixins/with_s3.html
  docs/validations.html
  mkdocs.yaml
  pyproject.toml
Due: pydocstyle, yamllint, pytest-check

docs: drop catalog-info.yaml; dynamicio is a library, not a system
  catalog-info.yaml
Due: pydocstyle, yamllint, pytest-check

docs: migrate from pdoc to mkdocs/mkdocstrings for TechDocs (catalog branch) (#93)
  Makefile
  docs/api.md
  docs/cli.html
  docs/config/index.html
  docs/config/io_config.html
  docs/config/pydantic/config.html
  docs/config/pydantic/index.html
  docs/config/pydantic/io_resources.html
  docs/config/pydantic/table_schema.html
  docs/core.html
  docs/dynamicio/config/index.html
  docs/dynamicio/config/io_config.html
  docs/dynamicio/config/pydantic/config.html
  docs/dynamicio/config/pydantic/index.html
  docs/dynamicio/config/pydantic/io_resources.html
  docs/dynamicio/config/pydantic/table_schema.html
  docs/dynamicio/mixins/index.html
  docs/dynamicio/mixins/utils.html
  docs/dynamicio/mixins/with_kafka.html
  docs/dynamicio/mixins/with_local.html
  docs/dynamicio/mixins/with_postgres.html
  docs/dynamicio/mixins/with_s3.html
  docs/errors.html
  docs/index.html
  docs/index.md
  docs/metrics.html
  docs/mixins/index.html
  docs/mixins/utils.html
  docs/mixins/with_kafka.html
  docs/mixins/with_local.html
  docs/mixins/with_postgres.html
  docs/mixins/with_s3.html
  docs/validations.html
  mkdocs.yaml
  pyproject.toml
Due: pydocstyle, yamllint, pytest-check

docs: add awswrangler vs AWS CLI performance report, PR template, and skills
  .claude/skills/create-pr/SKILL.md
  .claude/skills/jira/SKILL.md
  .github/pull_request_template.md
  docs/images/perf-awswrangler-vs-awscli/chart_read.png
  docs/images/perf-awswrangler-vs-awscli/chart_read_correction.png
  docs/images/perf-awswrangler-vs-awscli/chart_write.png
  docs/perf-awswrangler-vs-awscli.md
Due: pydocstyle, pytest-check

fix: regenerate poetry.lock to match pyproject.toml
  poetry.lock
Due: pydocstyle, pytest-check

fix: satisfy black formatting and 90% coverage gate in CI
  dynamicio/config/pydantic/io_resources.py
  dynamicio/mixins/with_athena.py
  tests/test_core.py
  tests/test_mixins/test_local_mixins.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: silence pre-existing pylint invalid-name warnings to unblock style-checks
  dynamicio/metrics.py
  dynamicio/mixins/with_postgres.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: address Copilot review findings on WithS3File wrangler migration
  dynamicio/mixins/with_s3.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

docs: add CHANGELOG.md for v8.1.0-rc.1
  CHANGELOG.md
Due: pydocstyle, pytest-check

fix: stop forcing records-only orient on local JSON reads
  dynamicio/mixins/with_local.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: honor caller-supplied orient/lines for S3 and local JSON I/O
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_s3.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

docs: add CHANGELOG entries for v8.1.0-rc.2 and v8.1.0-rc.3
  CHANGELOG.md
Due: pydocstyle, pytest-check

fix: stop forcing records/lines=True defaults on local JSON writes
  dynamicio/mixins/with_local.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: drop unused caplog fixture flagged by pylint
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, flake8, mypy, pytest-check

fix: stop forcing convert_dates=False on local JSON reads
  dynamicio/mixins/with_local.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: update JSON date-parsing tests for pass-through convert_dates
  tests/test_mixins/test_local_mixins.py
Due: formatting, pylint, flake8, mypy, pytest-check

docs: add CHANGELOG entry for v8.1.0-rc.4
  CHANGELOG.md
Due: pydocstyle, pytest-check

perf: reuse one boto3 session per process and skip prefix listing in WithS3File
  dynamicio/mixins/with_s3.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: replace awscli with boto3 transfers in WithS3PathPrefix and drop awscli/s3fs deps
  dynamicio/animals.py
  dynamicio/mixins/with_s3.py
  pyproject.toml
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

perf: read/write single-file parquet over a shared boto3 client by default, wrangler only for wrangler-only options
  dynamicio/mixins/with_s3.py
  tests/test_core.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

perf: direct per-file GetObject/PutObject prefix sync at concurrency 32, fix S3 HDF pickle_protocol and JSON single_record
  CHANGELOG.md
  README.md
  docs/perf-awswrangler-vs-awscli.md
  dynamicio/mixins/with_s3.py
  poetry.lock
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: black/pylint clean-ups so Build and Publish passes, changelog v8.1.0-rc.6
  CHANGELOG.md
  dynamicio/mixins/with_s3.py
  tests/test_core.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: fix flake8 import order, changelog v8.1.0-rc.7
  CHANGELOG.md
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

docs: add ADR 0001 (direct boto3 S3 I/O) and replace perf report with rc.7 vs v4.4.1 results
  docs/adr/0001-direct-boto3-s3-io.md
  docs/adr/README.md
  docs/perf-awswrangler-vs-awscli.md
  docs/perf-s3-io.md
Due: pydocstyle

perf: fetch and parse parquet prefix reads in memory on the download threads
  CHANGELOG.md
  dynamicio/mixins/with_s3.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

docs: frame ADR 0001 and perf report as master vs branch
  docs/adr/0001-direct-boto3-s3-io.md
  docs/perf-s3-io.md
Due: pydocstyle
