Repository VorTECHsa/dynamicio: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

formatting:
  name: isort and black
  entry: bash -c '(isort "$@" && black "$@") || true; git add -u' --
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

pydocstyle:
  name: pydocstyle
  language: system
  entry: pydocstyle
  stages:
  - commit

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - commit

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python
  stages:
  - commit

mypy:
  name: mypy
  description: Static type checking
  entry: mypy dynamicio/
  language: system
  stages:
  - commit
  pass_filenames: false

pytest-check:
  name: pytest-check
  entry: python -m pytest tests --cov=dynamicio --cov-report=html --cov-report=xml -v
  language: system
  pass_filenames: false
  stages:
  - commit

wip
  dynamicio/__init__.py
  dynamicio/config/pydantic/__init__.py
  dynamicio/config/pydantic/io_resources.py
  dynamicio/mixins/with_athena.py
  dynamicio/mixins/with_kafka.py
  poetry.lock
  pyproject.toml
  tests/mocking/models.py
  tests/resources/definitions/external.yaml
  tests/resources/definitions/input.yaml
  tests/test_mixins/test_athena_mixin.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

wip
  tests/mocking/io.py
  tests/test_core.py
  tests/test_mixins/test_athena_mixin.py
Due: formatting, pylint, flake8, mypy, pytest-check

feat: make dtype validation optionally strict to improve performance on large datasets
  dynamicio/core.py
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

wip
  dynamicio/core.py
  tests/resources/data/processed/write_some_csv.csv
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

wip
  dynamicio/core.py
  tests/mocking/io.py
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

style: Fix
  .flake8
  dynamicio/core.py
  poetry.lock
  pyproject.toml
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Optional Strict Dtype Validation for Performance-Sensitive Workflows (#85)
  .flake8
  dynamicio/core.py
  poetry.lock
  pyproject.toml
  tests/mocking/io.py
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

test: Athena mixin
  .pylintrc
  dynamicio/__init__.py
  dynamicio/config/pydantic/__init__.py
  dynamicio/config/pydantic/io_resources.py
  dynamicio/mixins/__init__.py
  dynamicio/mixins/with_athena.py
  dynamicio/mixins/with_kafka.py
  poetry.lock
  pyproject.toml
  tests/mocking/io.py
  tests/mocking/models.py
  tests/resources/definitions/external.yaml
  tests/resources/definitions/input.yaml
  tests/test_core.py
  tests/test_mixins/test_athena_mixin.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

style: Attend to flake8 issues
  dynamicio/mixins/with_athena.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

test: Add coverage + badges
  .github/workflows/build_and_publish.yml
  README.md
Due: pydocstyle, yamllint

test: Reduce coverage threshold
  .coveragerc
  .github/workflows/build_and_publish.yml
  Makefile
  docs/coverage_report/coverage-badge.svg
Due: pydocstyle, yamllint, pytest-check

ci: Add Code Coverage Reporting with `Codecov` (#86)
  .coveragerc
  .github/workflows/build_and_publish.yml
  Makefile
  README.md
  docs/coverage_report/coverage-badge.svg
Due: pydocstyle, yamllint, pytest-check

feat(RND-13623): Add AWS Athena I/O Support via PyAthena (#84)
  .pylintrc
  dynamicio/__init__.py
  dynamicio/config/pydantic/__init__.py
  dynamicio/config/pydantic/io_resources.py
  dynamicio/mixins/__init__.py
  dynamicio/mixins/with_athena.py
  dynamicio/mixins/with_kafka.py
  poetry.lock
  pyproject.toml
  tests/mocking/io.py
  tests/mocking/models.py
  tests/resources/definitions/external.yaml
  tests/resources/definitions/input.yaml
  tests/test_core.py
  tests/test_mixins/test_athena_mixin.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

wip
  dynamicio/mixins/with_s3.py
  poetry.lock
  pyproject.toml
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Migrate to aws-wrangler for WithS3 mixin only
  dynamicio/core.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_s3.py
  tests/resources/data/processed/write_some_csv.csv
  tests/test_core.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fixes
  dynamicio/__init__.py
  dynamicio/__main__.py
  dynamicio/cli.py
  dynamicio/config/io_config.py
  dynamicio/config/pydantic/__init__.py
  dynamicio/config/pydantic/config.py
  dynamicio/config/pydantic/table_schema.py
  dynamicio/core.py
  dynamicio/errors.py
  dynamicio/metrics.py
  dynamicio/mixins/utils.py
  dynamicio/mixins/with_kafka.py
  dynamicio/mixins/with_s3.py
  dynamicio/validations.py
  pyproject.toml
  tests/mocking/io.py
  tests/mocking/models.py
  tests/resources/data/processed/write_some_csv.csv
  tests/test_core.py
  tests/test_mixins/test_local_mixins.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

test: COnfirm allow options config works as expected
  dynamicio/mixins/utils.py
  dynamicio/mixins/with_s3.py
  poetry.lock
  tests/test_mixins/test_s3_mixins.py
  tests/test_mixins/test_utils.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

test: Make sure json kwargs don't cause discrepancies
  dynamicio/mixins/with_s3.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

test: HDF args
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, flake8, mypy, pytest-check

refactor: Allow index orientation for json read/writes
  dynamicio/mixins/with_s3.py
  tests/mocking/io.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

wip
  dynamicio/mixins/with_s3.py
  tests/mocking/io.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: remove support for index orientation
  dynamicio/mixins/with_s3.py
  tests/mocking/io.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Linting fixes
  dynamicio/__init__.py
  dynamicio/mixins/with_athena.py
  dynamicio/mixins/with_kafka.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Make sure Local and s3 reads are consistent
  .coveragerc
  dynamicio/core.py
  dynamicio/errors.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_s3.py
  tests/resources/data/input/multi_row_json.json
  tests/resources/data/input/single_row_json.json
  tests/resources/definitions/input.yaml
  tests/test_errors.py
  tests/test_mixins/test_local_mixins.py
  tests/test_mixins/test_postgres_mixins.py
  tests/test_mixins/test_s3_mixins.py
  tests/test_mixins/test_utils.py
  tests/test_table_schema.py
  tests/test_validations.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

feat: Add single-record option for local read_json files
  dynamicio/mixins/with_local.py
  poetry.lock
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

docs: Update
  dynamicio/mixins/with_local.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

test: Warning
  tests/test_mixins/test_local_mixins.py
Due: formatting, pylint, flake8, mypy, pytest-check

refactor: Manage reference data
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_s3.py
  pyproject.toml
  tests/resources/definitions/input.yaml
  tests/test_mixins/test_local_mixins.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix: S3 Writes are to a single file (for now)
  dynamicio/mixins/with_s3.py
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Migrate WithAthena mixin to aws-wrangler
  dynamicio/config/pydantic/io_resources.py
  dynamicio/mixins/with_athena.py
  dynamicio/mixins/with_kafka.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_postgres.py
  dynamicio/mixins/with_s3.py
  tests/resources/definitions/external.yaml
  tests/resources/definitions/input.yaml
  tests/test_mixins/test_athena_mixin.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix(postgres): ensure compatibility with pandas>=2.0 by using SQLAlchemy Connection in read_sql
  dynamicio/mixins/with_postgres.py
  tests/test_mixins/test_postgres_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: Read
  dynamicio/mixins/with_postgres.py
  poetry.lock
  pyproject.toml
  tests/resources/definitions/test_input.yaml
  tests/resources/schemas/vessels6.yaml
  tests/test_mixins/test_postgres_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

one step at a time
  dynamicio/mixins/with_postgres.py
  poetry.lock
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Fix postgres approved type
  .pre-commit-config.yaml
  Makefile
  dynamicio/mixins/with_postgres.py
  tests/mocking/io.py
  tests/resources/definitions/test_input.yaml
  tests/resources/schemas/vessels6.yaml
  tests/test_mixins/test_postgres_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

fix: hooks
  .pre-commit-config.yaml
Due: pydocstyle, yamllint, pytest-check

test: Confirm new behaviour
  dynamicio/mixins/with_postgres.py
  tests/test_mixins/test_postgres_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Path conditions:
  formatting: any of: \.py$, but not: ^(tests/conftest.py)
  pylint: any of: \.py$
  pydocstyle: any file but: ^(tests/.*|demo/*)
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  mypy: any of: \.py$
  pytest-check: any file but: ^(.github|.circleci|docs|.flake8|.gitlint|.pylintrc|.docs.Dockerfile|README.md|Makefile|setup.py)
