Repository VorTECHsa/dynamicio: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
repos:
  - repo: local
    hooks:
      - id: gitlint
        name: gitlint
        language: python
        entry: gitlint
        args: [--staged, --msg-filename]
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: formatting
        name: "isort and black"
        exclude: ^(tests/conftest.py)
        entry: bash -c '(isort "$@" && black "$@") || true; git add -u' --
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: pydocstyle
        name: pydocstyle
        exclude: ^(tests/.*|demo/*)
        language: system
        entry: pydocstyle
        stages: [commit]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        description: This hook runs yamllint.
        entry: yamllint
        language: python
        types: [file, yaml]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: Static type checking
        entry: mypy dynamicio/
        language: system
        types: [python]
        stages: [commit]
        pass_filenames: false

  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: python -m pytest tests --cov=dynamicio --cov-report=html --cov-report=xml -v
        exclude: ^(.github|.circleci|docs|.flake8|.gitlint|.pylintrc|.docs.Dockerfile|README.md|Makefile|setup.py)
        language: system
        pass_filenames: false
        stages: [commit]

refactor: use static methods for file handlers
  dynamicio/handlers/file.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Make S3 file resources leaner & refactor
  dynamicio/handlers/file.py
  dynamicio/handlers/s3/__init__.py
  dynamicio/handlers/s3/file.py
  dynamicio/handlers/s3/hdf.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Add test for pandera validations
  tests/conftest.py
  tests/test_validations.py
Due: formatting, pylint, flake8, mypy, pytest-check

fix: Tests & refactor
  requirements-dev.txt
  tests/file/__init__.py
  tests/file/test_file.py
  tests/file/test_parquet.py
  tests/file/test_parquet_file.py
  tests/test_resources/file/test_file.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Parquet test
  tests/file/test_parquet.py
  tests/file/test_parquet_file.py
Due: formatting, pylint, flake8, mypy, pytest-check

feat: Add file tests for all file-types
  dynamicio/handlers/file.py
  dynamicio/handlers/s3/file.py
  tests/file/test_csv.py
  tests/file/test_hdf.py
  tests/file/test_json.py
  tests/file/test_parquet.py
  tests/resources/data/input/csv_sample.csv
  tests/resources/data/input/hdf_sample.h5
  tests/resources/data/input/json_sample.json
  tests/resources/schemas.py
  tests/test_resources/__init__.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Only use mocked class for base file test
  tests/file/test_file.py
Due: formatting, pylint, flake8, mypy, pytest-check

refactor: Clean up & simplify file tests
  tests/file/test_csv.py
  tests/file/test_hdf.py
  tests/file/test_json.py
  tests/file/test_parquet.py
Due: formatting, pylint, flake8, mypy, pytest-check

feat: Add basic tests for s3 files
  tests/s3/__init__.py
  tests/s3/conftest.py
  tests/s3/test_csv.py
  tests/s3/test_json.py
  tests/s3/test_parquet.py
  tests/s3/test_s3.py
Due: formatting, pylint, flake8, mypy, pytest-check

feat: Add s3 hdf test
  tests/s3/test_csv.py
  tests/s3/test_hdf.py
  tests/s3/test_json.py
  tests/s3/test_parquet.py
Due: formatting, pylint, flake8, mypy, pytest-check

refactor: Improve injection
  dynamicio/base.py
  dynamicio/handlers/file.py
  dynamicio/handlers/s3/file.py
  dynamicio/inject.py
  tests/test_inject.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Add postgres handler and tests
  dynamicio/__init__.py
  dynamicio/handlers/__init__.py
  dynamicio/handlers/postgres.py
  dynamicio/inject.py
  tests/resources/schemas.py
  tests/test_inject.py
  tests/test_postgres.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Add kafka resource and tests
  dynamicio/handlers/__init__.py
  dynamicio/handlers/kafka.py
  tests/conftest.py
  tests/file/test_csv.py
  tests/file/test_hdf.py
  tests/file/test_json.py
  tests/file/test_parquet.py
  tests/test_kafka.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Parametrise file tests
  tests/file/test_csv.py
  tests/file/test_file_implementations.py
  tests/file/test_hdf.py
  tests/file/test_json.py
  tests/file/test_parquet.py
Due: formatting, pylint, flake8, mypy, pytest-check

refactor: Parametrise s3 tests
  tests/s3/test_csv.py
  tests/s3/test_json.py
  tests/s3/test_parquet.py
  tests/s3/test_s3_implementations.py
Due: formatting, pylint, flake8, mypy, pytest-check

feat: Add more injections and test for postgres
  dynamicio/handlers/file.py
  dynamicio/handlers/postgres.py
  tests/test_postgres.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Minimal
  dynamicio/base.py
  tests/file/test_file.py
  tests/test_inject.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Add custom validators
  dynamicio/__init__.py
  dynamicio/validators.py
  tests/test_validators.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Add py.typed file
  dynamicio/py.typed
Due: pydocstyle, pytest-check

refactor: Add docstrings
  dynamicio/handlers/kafka.py
  dynamicio/handlers/postgres.py
  dynamicio/handlers/s3/hdf.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

docs: Xor
  dynamicio/handlers/postgres.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: no_disk_space -> force_read_to_memory
  dynamicio/handlers/s3/file.py
  dynamicio/handlers/s3/hdf.py
  tests/s3/test_hdf.py
  tests/s3/test_s3.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Add postgres schema definition to postgres resource
  dynamicio/handlers/postgres.py
  tests/test_postgres.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Restructure to use config+handlers >>> no inheritance
  .pylintrc
  dynamicio/base.py
  dynamicio/handlers/__init__.py
  dynamicio/handlers/file.py
  dynamicio/handlers/file/__init__.py
  dynamicio/handlers/file/csv.py
  dynamicio/handlers/file/hdf.py
  dynamicio/handlers/file/json.py
  dynamicio/handlers/file/parquet.py
  dynamicio/handlers/kafka.py
  dynamicio/handlers/keyed.py
  dynamicio/handlers/postgres.py
  dynamicio/handlers/s3/__init__.py
  dynamicio/handlers/s3/csv.py
  dynamicio/handlers/s3/file.py
  dynamicio/handlers/s3/hdf.py
  dynamicio/handlers/s3/json.py
  dynamicio/handlers/s3/parquet.py
  dynamicio/inject.py
  tests/file/__init__.py
  tests/file/test_file.py
  tests/file/test_file_implementations.py
  tests/s3/test_hdf.py
  tests/s3/test_s3.py
  tests/s3/test_s3_implementations.py
  tests/test_file_implementations.py
  tests/test_kafka.py
  tests/test_postgres.py
  tests/test_validations.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Minor inject changes
  dynamicio/inject.py
  tests/test_inject.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Ignore R0801 for now
  .pylintrc
Due: pydocstyle

fix: Postgres write with schema, add demos
  demo/demo.py
  demo/pg_demo.py
  demo/read_write_demo.py
  demo/tests/__init__.py
  dynamicio/handlers/postgres.py
  tests/test_postgres.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Add tests for keyedresource
  dynamicio/handlers/keyed.py
  tests/test_keyed.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: handlers module to io and Handlers classes to Resource
  demo/demo.py
  demo/pg_demo.py
  dynamicio/__init__.py
  dynamicio/handlers/__init__.py
  dynamicio/handlers/file/__init__.py
  dynamicio/handlers/s3/__init__.py
  dynamicio/io/__init__.py
  dynamicio/io/file/__init__.py
  dynamicio/io/file/csv.py
  dynamicio/io/file/hdf.py
  dynamicio/io/file/json.py
  dynamicio/io/file/parquet.py
  dynamicio/io/kafka.py
  dynamicio/io/keyed.py
  dynamicio/io/postgres.py
  dynamicio/io/s3/__init__.py
  dynamicio/io/s3/contexts.py
  dynamicio/io/s3/csv.py
  dynamicio/io/s3/hdf.py
  dynamicio/io/s3/json.py
  dynamicio/io/s3/parquet.py
  tests/s3/conftest.py
  tests/s3/test_hdf.py
  tests/s3/test_s3_implementations.py
  tests/test_file_implementations.py
  tests/test_kafka.py
  tests/test_keyed.py
  tests/test_postgres.py
  tests/test_validations.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Remove annoying layers of abstraction
  mypy.ini
Due: pydocstyle, pytest-check

feat: Remove annoying layers of abstraction
  demo/demo.py
  demo/pg_demo.py
  dynamicio/io/__init__.py
  dynamicio/io/file/__init__.py
  dynamicio/io/file/csv.py
  dynamicio/io/file/hdf.py
  dynamicio/io/file/json.py
  dynamicio/io/file/parquet.py
  dynamicio/io/kafka.py
  dynamicio/io/keyed.py
  dynamicio/io/postgres.py
  dynamicio/io/s3/__init__.py
  dynamicio/io/s3/csv.py
  dynamicio/io/s3/hdf.py
  dynamicio/io/s3/json.py
  dynamicio/io/s3/parquet.py
  tests/s3/test_hdf.py
  tests/s3/test_s3_implementations.py
  tests/test_file_implementations.py
  tests/test_kafka.py
  tests/test_keyed.py
  tests/test_postgres.py
  tests/test_validations.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: add resource migration script
  migration_scripts/migrate_resource_definitions.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Test that schemas have valid pandas types using pandas directly
  dynamicio/config/pydantic/table_schema.py
  tests/test_table_schema.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

doc: Add docstring
  dynamicio/config/pydantic/table_schema.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

fix: No longer using an enum
  tests/test_config.py
Due: formatting, pylint, flake8, mypy, pytest-check

fix: Test that schemas have valid pandas types using pandas directly (#52)
  dynamicio/config/pydantic/table_schema.py
  tests/test_config.py
  tests/test_table_schema.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Add migration cli
  .pre-commit-config.yaml
  Makefile
  dynamicio/v5_migration/__init__.py
  dynamicio/v5_migration/__main__.py
  dynamicio/v5_migration/app.py
  dynamicio/v5_migration/resource_migration.py
  dynamicio/v5_migration/resource_templates.py
  dynamicio/v5_migration/schema_migration.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

feat: support specifying a subset of fields to read
  dynamicio/core.py
  dynamicio/mixins/with_local.py
  tests/conftest.py
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: address review comments
  dynamicio/config/pydantic/__init__.py
  dynamicio/core.py
  tests/test_core.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check
