Repository VorTECHsa/dynamicio: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
repos:
  - repo: local
    hooks:
      - id: gitlint
        name: gitlint
        language: python
        entry: gitlint
        args: [--staged, --msg-filename]
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: formatting
        name: "isort and black"
        exclude: ^(tests/conftest.py)
        entry: bash -c '(isort "$@" && black "$@") || true; git add -u' --
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: pydocstyle
        name: pydocstyle
        exclude: ^(tests/.*|demo/*)
        language: system
        entry: pydocstyle
        stages: [commit]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [commit]

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        description: This hook runs yamllint.
        entry: yamllint
        language: python
        types: [file, yaml]
        stages: [commit]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        description: Static type checking
        entry: mypy dynamicio/
        language: system
        types: [python]
        stages: [commit]
        pass_filenames: false

  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: python -m pytest tests --cov=dynamicio --cov-report=html --cov-report=xml -v
        exclude: ^(.github|.circleci|docs|.flake8|.gitlint|.pylintrc|.docs.Dockerfile|README.md|Makefile|setup.py)
        language: system
        pass_filenames: false
        stages: [commit]

Fix serde write mistake
  dynamicio/io/serde.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Update tests & add previous inject back in
  dynamicio/inject.py
  dynamicio/io/file.py
  dynamicio/io/resource.py
  dynamicio/io/s3.py
  tests/conftest.py
  tests/fixtures/schemas.py
  tests/s3/__init__.py
  tests/s3/conftest.py
  tests/s3/hdf/conftest.py
  tests/s3/hdf/test_hdf.py
  tests/s3/hdf/test_s3_hdf_inject.py
  tests/s3/test_s3_implementations.py
  tests/s3/test_s3_inject.py
  tests/test_file_resource.py
  tests/test_file_resources.py
  tests/test_keyed.py
  tests/test_postgres.py
  tests/test_resource_inject.py
  tests/test_resource_test_path_inject.py
  tests/test_serde.py
  tests/test_uhura.py
  tests/test_uhura_sub_resource.py
  tests/test_validations.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

TEMPORARILY Comment out kafka & postgres tests
  tests/test_kafka.py
  tests/test_postgres.py
Due: formatting, pylint, flake8, mypy, pytest-check

Move test files
  tests/resource_tests/test_kafka.py
  tests/resource_tests/test_local_file.py
  tests/resource_tests/test_postgres.py
  tests/resource_tests/test_s3.py
Due: formatting, pylint, flake8, mypy, pytest-check

Add hdf serde & fixture data
  dynamicio/io/file.py
  dynamicio/io/serde.py
  tests/fixtures/sample.h5
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Implement Hdf Serde
  dynamicio/io/hdf.py
  dynamicio/io/serde.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add S3 tests
  tests/resource_tests/test_s3.py
Due: formatting, pylint, flake8, mypy, pytest-check

Refactor
  dynamicio/io/file.py
  dynamicio/io/s3.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add postgres resource
  dynamicio/io/postgres.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Amend postgres resource tests
  dynamicio/__init__.py
  dynamicio/io/__init__.py
  dynamicio/io/resource.py
  tests/resource_tests/test_postgres.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add kafka resource
  dynamicio/__init__.py
  dynamicio/io/__init__.py
  dynamicio/io/kafka.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add kafka tests
  dynamicio/io/kafka.py
  tests/resource_tests/test_kafka.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Clean up code
  dynamicio/inject.py
  dynamicio/io/file.py
  dynamicio/io/postgres.py
  dynamicio/io/resource.py
  dynamicio/io/s3.py
  dynamicio/io/serde.py
  dynamicio/v5_migration/resource_templates.py
  tests/fixtures/schemas.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Add Postgres & Kafka uhura tests - Add file extensions to auto cache key
  dynamicio/io/kafka.py
  dynamicio/io/postgres.py
  tests/test_uhura.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Replace (other) file_type suffix method
  dynamicio/io/s3.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

new pydantic
  dynamicio/config/pydantic/io_resources.py
  dynamicio/config/pydantic/table_schema.py
  requirements.txt
  setup.py
  tests/test_config.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

pydantic-v2
  dynamicio/config/pydantic/io_resources.py
  dynamicio/config/pydantic/table_schema.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

flake8
  tests/test_config.py
Due: formatting, pylint, flake8, mypy, pytest-check

fix: Check for columns before looping
  dynamicio/v5_migration/schema_migration.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Verbose-er version pins
  requirements.txt
Due: pydocstyle, pytest-check

new pydantic (#65)
  dynamicio/config/pydantic/io_resources.py
  dynamicio/config/pydantic/table_schema.py
  requirements.txt
  setup.py
  tests/test_config.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

A way to disable dynamicios logging config
  dynamicio/__init__.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

A way to disable dynamicios logging config (#67)
  dynamicio/__init__.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat: Bring dynamic_file_path in with_local_batch
  dynamicio/cli.py
  dynamicio/config/pydantic/io_resources.py
  dynamicio/metrics.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_s3.py
  dynamicio/validations.py
  requirements-dev.txt
  requirements.txt
  tests/conftest.py
  tests/resources/data/input/batch/parquet/dynamic/dir_01/part_01.parquet
  tests/resources/data/input/batch/parquet/dynamic/dir_01/part_02.parquet
  tests/resources/data/input/batch/parquet/dynamic/dir_02/part_01.parquet
  tests/resources/data/input/batch/parquet/dynamic/dir_02/part_02.parquet
  tests/resources/definitions/input.yaml
  tests/test_mixins/test_local_mixins.py
  tests/test_mixins/test_s3_mixins.py
  tests/test_validations.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

feat: Confirm templated paths work WithLocalBatch
  docs/coverage_report/coverage-badge.svg
  dynamicio/mixins/with_s3.py
  tests/resources/definitions/input.yaml
  tests/test_core.py
  tests/test_mixins/test_local_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

docs: update
  docs/cli.html
  docs/config/index.html
  docs/config/io_config.html
  docs/config/pydantic/config.html
  docs/config/pydantic/index.html
  docs/config/pydantic/io_resources.html
  docs/config/pydantic/table_schema.html
  docs/core.html
  docs/index.html
  docs/metrics.html
  docs/mixins/utils.html
  docs/mixins/with_kafka.html
  docs/mixins/with_local.html
  docs/mixins/with_postgres.html
  docs/mixins/with_s3.html
  docs/validations.html
Due: pydocstyle

test: Correct yamls
  dynamicio/mixins/with_local.py
  tests/resources/definitions/input.yaml
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

feat(S3PathPrefix): Allow dynamic download of se files based on pattern
  dynamicio/config/pydantic/io_resources.py
  dynamicio/mixins/with_s3.py
  tests/constants.py
  tests/resources/definitions/input.yaml
  tests/test_mixins/test_s3_mixins.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

logs: Improve message
  dynamicio/mixins/with_postgres.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

feat(s3/local): Allow for dynamic templated file loading (#68)
  docs/cli.html
  docs/config/index.html
  docs/config/io_config.html
  docs/config/pydantic/config.html
  docs/config/pydantic/index.html
  docs/config/pydantic/io_resources.html
  docs/config/pydantic/table_schema.html
  docs/core.html
  docs/coverage_report/coverage-badge.svg
  docs/index.html
  docs/metrics.html
  docs/mixins/utils.html
  docs/mixins/with_kafka.html
  docs/mixins/with_local.html
  docs/mixins/with_postgres.html
  docs/mixins/with_s3.html
  docs/validations.html
  dynamicio/cli.py
  dynamicio/config/pydantic/io_resources.py
  dynamicio/metrics.py
  dynamicio/mixins/with_local.py
  dynamicio/mixins/with_postgres.py
  dynamicio/mixins/with_s3.py
  dynamicio/validations.py
  requirements-dev.txt
  requirements.txt
  tests/conftest.py
  tests/constants.py
  tests/resources/data/input/batch/parquet/dynamic/dir_01/part_01.parquet
  tests/resources/data/input/batch/parquet/dynamic/dir_01/part_02.parquet
  tests/resources/data/input/batch/parquet/dynamic/dir_02/part_01.parquet
  tests/resources/data/input/batch/parquet/dynamic/dir_02/part_02.parquet
  tests/resources/definitions/input.yaml
  tests/test_core.py
  tests/test_mixins/test_local_mixins.py
  tests/test_mixins/test_s3_mixins.py
  tests/test_validations.py
Due: formatting, pylint, pydocstyle, flake8, yamllint, mypy, pytest-check

Allow pydantic v1 by using some deprecated functions
  dynamicio/config/pydantic/io_resources.py
  requirements.txt
  tests/test_config.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Allow pydantic v1 by using some deprecated functions (#70)
  dynamicio/config/pydantic/io_resources.py
  requirements.txt
  tests/test_config.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

Upgrade pyyaml
  requirements.txt
Due: pydocstyle, pytest-check

Fix crazy versions
  requirements.txt
  tests/test_cli.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Migrate to confluent_kafka [wip]
  dynamicio/mixins/with_kafka.py
  requirements.txt
  tests/test_mixins/test_kafka_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Migrate to confluent_kafka [wip-1-test]
  dynamicio/mixins/with_kafka.py
  tests/conftest.py
  tests/mocking/io.py
  tests/test_mixins/test_kafka_mixins.py
Due: formatting, pylint, pydocstyle, flake8, mypy, pytest-check

refactor: Migrate to confluent_kafka [wip-2-test]
  tests/conftest.py
  tests/test_mixins/test_kafka_mixins.py
Due: formatting, pylint, flake8, mypy, pytest-check

refactor: Migrate to confluent_kafka [wip-3-test]
  tests/test_mixins/test_kafka_mixins.py
Due: formatting, pylint, flake8, mypy, pytest-check
